body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "PT Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  list-style: none;
  font-size: 1.5rem;
  background-color: #2a2632;
  color: #d0bfff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
}

.nav,
.footer {
  background-color: #554e64;
  height: 80px;
  font-family: "PT Mono", monospace;
  font-size: 1.5rem;
}

.nav-link {
  color: white !important;
}

h1 {
  color: #65ca69;
  margin: 2rem;
}

.bio-text {
  margin: 2rem;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  line-height: 75px;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer a:hover,
.nav-link:hover,
.nav-link:active {
  text-decoration: none;
  color: #65ca69 !important;
}

.card-link {
  text-decoration: none;
}
