body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2a2632;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav,
.footer {
  background-color: #554e64;
  height: 80px;
  font-family: "PT Mono", monospace;
  font-size: 1.5rem;
}

.nav-link,
h1,
.bio-text {
  color: white !important;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  line-height: 75px;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer a:hover,
.nav-link:hover,
.nav-link:active {
  text-decoration: none;
  color: #65ca69 !important;
}

.card-link {
  text-decoration: none;
}
